{% extends "layouts/base.html" %}
{% block style %}
:root {
    --white: whitesmoke;
    --black: black;
    --grey: grey;
    --hover-color: #1DA1F2; /* Define the hover color */
}
html, body {
    margin: 0;
    height: 100%;
    animation: fadein 2s;
    background-color: var(--grey);
    color: var(--white);
}
.dark-mode {
    background-color: var(--white);
    color: var(--black);
}
h1 {
    font-size: 5em;
}
a {
    color: midnightblue;
}
.fa {
    font-size: 3em;
    letter-spacing: 1em;
    transition: all .2s;
    color: white;
}
.fa:hover {
    transform: translateY(10px);
}
.fa-youtube-play:hover {
    color: #CC0000;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-github:hover {
    color: #000000;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: white;
    font-size: 2.5em;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
    background-color: var(--hover-color); /* Change hover color to light blue */
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}
.row {
    margin: auto;
}
.teamwork-quote {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--white);
    font-style: italic; /* Italicize the text */
    padding: 10px; /* Add padding for border */
    border: 1px solid var(--white); /* Add a border */
    border-radius: 5px; /* Round the border corners */
}
</style>
</head>
{% endblock %}
{% block body %}
<div class="container-fluid">
    </div>
    <div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 10%; padding-top: 5%; padding-bottom: 5%;">
            <div class="col-12">
                <h1>{{ project }} Collaboration</h1>
            </div>
        </div>
        <div class="row" style="padding-left: 5%;">
            <div class="col-12">
                <!-- Teamwork quote -->
                <p class="teamwork-quote">"Alone we can do so little; together we can do so much." - Helen Keller</p>
            </div>
        </div>
        <div class="row" style="padding-left: 5%;">
            <div class="col-4">
                <a href="https://docs.google.com/drawings/d/1ZCIdDIO6ufECVTSWThlBVxKgxdZO0hKV_kaSblp3Acs/edit?usp=sharing" class="btn btn-block" style="margin-top: 20px;">Benefits of a Team</a>
            </div>
            <div class="col-4">
                <a href="https://docs.google.com/drawings/d/19coOQCinE-q82J774f7MvdHVCUwljlRNkQ2FMDeveqo/edit?usp=sharing" class="btn btn-block" style="margin-top: 20px;">Communication</a>
            </div>
            <div class="col-4">
                <a href="https://docs.google.com/drawings/d/1axRA4svF-_oNb-4zhWLJlwXd0o-_uMRIUMdYGNpXfmY/edit?usp=sharing" class="btn btn-block" style="margin-top: 20px;">Work Assigned</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}